:root {

    /* Font families.
    --------------------------------------------------------------------------- */

    --font-family-default: -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    --font-family-mono: "SFMono-Regular", Consolas, "Liberation Mono", "Monaco", Menlo, monospace;

    /* Colors.
    --------------------------------------------------------------------------- */

    --color-black: #000;
    --color-grey-light: #f5f5f5;
    --color-grey-medium: #cbcbcb;

    --color-link: #062ffa;
    --color-link-hover: #111;
    --color-link-active: #f2641c;

    /* Backgrounds.
    --------------------------------------------------------------------------- */

    --background-color-default: var(--color-grey-light);

    /* Padding.
    --------------------------------------------------------------------------- */
    --padding-x-default: 0.625rem;
    --padding-y-default: 1rem;

    /* Fonts.
    --------------------------------------------------------------------------- */

    --font-size-default: 18px;
    --font-size-h1: 2.7rem;
    --font-size-h2: 2.3rem;
    --font-size-h3: 2rem;
    --font-size-h4: 1.7rem;
    --font-size-h5: 1.4rem;
    --font-size-h6: 1.2rem;

    --font-weight-default: 400;
    --font-weight-heading: 500;

    --line-height-default: 1.625;  /* http://meyerweb.com/eric/thoughts/2006/02/08/unitless-line-heights/ */
    --line-height-heading: calc(var(--line-height-default) * 0.8);

    /* Borders.
    --------------------------------------------------------------------------- */

    --border-width-default:  1px;
    --border-radius-default: 2px;
    --border-color-default: var(--color-grey-medium);

    /* Tables.
    --------------------------------------------------------------------------- */

    --table-border-width: var(--border-width-default);
    --table-border-color: var(--border-color-default);
    --table-padding-x: var(--padding-x-default);
    --table-padding-y: var(--padding-y-default);
    --table-padding: var(--table-padding-x) var(--table-padding-y);

    /* Forms.
    --------------------------------------------------------------------------- */

    --input-line-height:      var(--line-height-default);
    --input-border-width:     var(--border-width-default);
    --input-border-color:     var(--border-color-default);
    --input-border-radius:    var(--border-radius-default);
    --input-background-color: var(--background-color-default);
    --input-padding-x: 5px;
    --input-padding-y: 10px;
    --input-padding: var(--input-padding-x) var(--input-padding-y);

}

/* Box-model.
--------------------------------------------------------------------------- */

*,
*:after,
*:before {
    box-sizing: border-box;
}

/* Global.
--------------------------------------------------------------------------- */

body {}

html {
    color: var(--color-black);
    font-size: var(--font-size-default);
    font-family: var(--font-family-default);
    overflow-y: scroll;
    line-height: var(--line-height-default);
    font-weight: var(--font-weight-default);
    -webkit-text-size-adjust: 100%;  /* Prevent font scaling in landscape while allowing user zoom. */
    -webkit-font-smoothing: antialiased;
}

/* Links.
--------------------------------------------------------------------------- */

a,
a:link,
a:visited {
    text-decoration: underline;
    color: var(--color-link);
}

a:focus,
a:hover {
    text-decoration: none;
    color: var(--color-link-hover);
}

a:active {
    color: var(--color-link-active);
}

/* Headings.
--------------------------------------------------------------------------- */

h1, h2, h3, h4, h5, h6 {
    font-weight: var(--font-weight-heading);
    line-height: var(--line-height-heading);
}

h1 {
    font-size: var(--font-size-h1);
}

h2 {
    font-size: var(--font-size-h2);
}

h3 {
    font-size: var(--font-size-h3);
}

h4 {
    font-size: var(--font-size-h4);
}

h5 {
    font-size: var(--font-size-h5);
}

h6 {
    font-size: var(--font-size-h6);
}

/* Code.
--------------------------------------------------------------------------- */

code {
    padding: 1px 4px;
    background: var(--background-color-default);
    border: var(--border-width-default) solid var(--border-color-default);
    border-radius: var(--input-border-radius);
    font-family: var(--font-family-mono);
}

pre {
    padding: var(--padding-x-default) var(--padding-y-default);
    max-width: 100%;
    overflow: auto;
    background: var(--background-color-default);
    border: var(--border-width-default) solid var(--border-color-default);
    border-radius: var(--input-border-radius);
}

pre code {
    border: none;
    background: none;
}

/* Blockquotes.
--------------------------------------------------------------------------- */

blockquote {
    padding: var(--padding-x-default) var(--padding-y-default);
    background: var(--background-color-default);
    border-left: 5px solid var(--border-color-default);
    margin-left: 0;
}

/* Tables.
--------------------------------------------------------------------------- */

table {
    border-collapse: collapse;
    border-spacing: 0;
    empty-cells: show;
    text-align: left;
    border: var(--table-border-width) solid var(--table-border-color);
    margin-bottom: 1rem;
}

table caption {
    padding: var(--table-padding);
    font-style: italic;
}

table td,
table th {
    padding: var(--table-padding);
    border: var(--table-border-width) solid var(--table-border-color);
}

table thead,
table tfoot {
    background: var(--background-color-default);
    padding: var(--table-padding);
    vertical-align: bottom;
}

table tfoot {
    vertical-align: top;
}

/* Images.
--------------------------------------------------------------------------- */

img {
    max-width: 100%;
}

figure {
    margin: 0;
}

/* Divider.
--------------------------------------------------------------------------- */

hr {
    width: 100%;
    border: var(--border-width-default) solid var(--border-color-default);
    border-width: var(--border-width-default) 0 0 0;
}

/* Forms.
--------------------------------------------------------------------------- */

label {
    cursor: pointer;
}

label + textarea {
    vertical-align: top;
}

fieldset {
    /*
    Width and min-width are required here to respect 100% textarea max-width within fieldset.
    http://codepen.io/tmsdnl/pen/ByqJgO
    */
    width: 100%;
    min-width: 100%;
    padding: 1rem;
    border: var(--input-border-width) solid var(--input-border-color);
}

input[autocomplete],
input[inputmode],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="file"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
select[multiple],
textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-clip: padding-box;
    font-size: inherit;
    font-family: inherit;
    color: inherit;
    max-width: 100%;
    margin: 0;
    padding: var(--input-padding);
    background: var(--input-background-color);
    line-height: var(--input-line-height);
    border: var(--input-border-width) solid var(--input-border-color);
    border-radius: var(--input-border-radius);
}

input[type="search"] {
    -webkit-appearance: textfield;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

textarea {
    min-height: 150px;
}
