#toolbar {
    all: initial;
    background: rgba(208, 208, 208, 0.8);
    border: 1px solid #9c9c9c;
    border-width: 0 0 1px 0;
    padding: 5px;
    position: absolute;
    right: 0;
    top: 0;
    left: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
}

#toolbar * {
    all: initial;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 5px;
}

#toolbar label {
    cursor: pointer;
}

#toolbar select {
    background: white;
    border: 1px solid #9c9c9c;
    border-radius: 4px;
    padding: 10px;
    text-transform: capitalize;
    flex-grow: 1;
}

@media (max-width: 600px) {
    #toolbar select  {
        width: 100%;
    }
}

#toolbar select:focus {
    outline-width: 2px;
    outline-style: solid;
    outline-style: auto;
    outline-color: Highlight;
    outline-color: -webkit-focus-ring-color;
}

#toolbar a {
  cursor: pointer;
  color: #061DE4;
  display: inline-block;
}
